apiVersion: v1
data:
  .dockerconfigjson: "{{ aks.acr.dockerconfigjson }}" 
kind: Secret
metadata:
  creationTimestamp: null
  name: registry-credentials
  namespace: wp
type: kubernetes.io/dockerconfigjson
